/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --spacing: .25rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
